<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>仿制QQ侧滑显示个人信息.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1805F48C1D24AA9000D19C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1805F4A51D24AA9100D19C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1805F4B01D24AA9100D19C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
